# SILAS gitignore begun 2025-03-25

# Previous builds
v*.*
NTM
.hg/
latest/.hgignore
latest/.hgignore.bak
latest/.hgtags
.hgignore

# History not needed for these
#
latest/~$Silas.dot
latest/~$stall silas.doc
latest/ca-bit.txt
latest/backups/
latest/from John's Wd2007/
latest/Notsi problem/
latest/Bit from renumbering footnotes.txt

latest/.~lock.Word2USFM.doc#
~*.doc

latest/diffs 2.103 - 2.204.txt

*.bak

*.zip

*.grip

*.pdf

*.frx

*.swp

*.tmp

latest/Silas - Copy.dot

latest/2.35-to-3.0.10_Styles

latest/mixed2.35-to-3.0.10_Styles.txt

latest/Replaced_Styles

latest/pix/table formatted for proof printoutst.jpg

latest/pix/table exported from Pt.jpg

latest/Silas-2025-07-19.dot

latest/Modules/SILAS/USFM2Styles-new.txt
